/* Variables */
/* Global CSS */
.most-of-page {
  min-height: 95%; }

.half-of-the-page {
  height: 75%; }

.full-page {
  height: 100%; }

.clear {
  clear: both; }

.dont-show {
  display: none; }

.green-thang {
  background-color: #4aad0d;
  color: white; }

.light-green-thang {
  background-color: #a4df86; }

.light-bg-thang {
  background: url(../img/grid_noise.png);
  color: #585858; }

.grab-focus {
  text-align: center; }
  .grab-focus > span {
    font-size: 3em;
    display: block; }
    .grab-focus > span.smaller {
      font-size: 2em; }
  .grab-focus > img {
    max-height: 10%;
    max-width: 90%; }

/* Specific CSS */
#topViewWrapper .grab-focus h1.logo {
  padding-top: 5%;
  font-family: "Playball", cursive;
  font-size: 8em;
  margin-top: 0; }
#topViewWrapper .input-group {
  width: 60%;
  margin: auto;
  margin-top: 5%; }
  #topViewWrapper .input-group input {
    font-size: 2em;
    height: auto; }
  #topViewWrapper .input-group button {
    font-size: 2em; }

#movingCodeWrapper .grab-focus {
  margin-top: 5%; }
#movingCodeWrapper #animation-wrapper {
  width: 60%;
  margin: auto;
  position: relative;
  top: 5%; }
  #movingCodeWrapper #animation-wrapper #left-side {
    height: 60%;
    width: 50%;
    float: left;
    overflow: hidden; }
  #movingCodeWrapper #animation-wrapper #right-side {
    height: 60%;
    width: 49%;
    border-left: 1px solid grey;
    float: left;
    overflow: hidden; }
  #movingCodeWrapper #animation-wrapper .container {
    position: relative; }
    #movingCodeWrapper #animation-wrapper .container span.file {
      font-size: 5em;
      display: block;
      position: relative;
      top: 50%;
      left: 0;
      margin-top: -.6em;
      opacity: 0;
      -webkit-animation: slideFileAcross 3s linear infinite;
      -moz-animation: slideFileAcross 3s linear infinite;
      animation: slideFileAcross 3s linear infinite;
      color: #737373; }
    #movingCodeWrapper #animation-wrapper .container .checksums {
      position: absolute;
      font-size: 1.5em;
      left: -200%;
      opacity: 1;
      font-weight: bold;
      color: #737373;
      top: 50%;
      margin-top: -1.4em; }
      #movingCodeWrapper #animation-wrapper .container .checksums.good {
        -webkit-animation: slideGoodChecksumAcross 6s linear infinite;
        -moz-animation: slideGoodChecksumAcross 6s linear infinite;
        animation: slideGoodChecksumAcross 6s linear infinite; }
      #movingCodeWrapper #animation-wrapper .container .checksums.bad {
        -webkit-animation: slideBadChecksumAcross 6s linear infinite;
        -moz-animation: slideBadChecksumAcross 6s linear infinite;
        animation: slideBadChecksumAcross 6s linear infinite; }
      #movingCodeWrapper #animation-wrapper .container .checksums span.checksum {
        display: block;
        padding-left: 10px; }

#questions {
  overflow: hidden; }
  #questions h2 {
    margin-left: 15%;
    padding-top: 2%;
    font-family: "Playball", cursive;
    font-size: 3em; }
  #questions button {
    border: 1px solid #2c6a07;
    background-color: #4aad0d;
    color: #2c6a07;
    font: "Playball", cursive;
    display: block;
    border-radius: 5px;
    margin: 30px auto 30px auto;
    padding: 5px;
    cursor: pointer; }
    #questions button:hover {
      background-color: #a4df86; }
  #questions ul {
    list-style-type: none;
    padding: 0;
    margin: auto;
    width: 80%; }
    #questions ul li {
      float: left;
      width: 40%;
      margin: 2% 5%;
      padding: 5px 15px;
      box-shadow: 0 0 5px #2c6a07;
      -moz-box-shadow: 0 0 5px #2c6a07;
      -webkit-box-shadow: 0 0 5px #2c6a07;
      border-radius: 6px;
      height: 250px; }
      #questions ul li h3 {
        font-family: "Playball", cursive;
        color: #a4df86; }

#who .whoami {
  text-align: center;
  display: inline-block; }
  #who .whoami h2 {
    font-size: 4em;
    font-family: "Playball", cursive; }
  #who .whoami span {
    font-size: 2em; }

/** Animations **/
@-webkit-keyframes slideGoodChecksumAcross {
  42% {
    left: 0;
    color: #737373;
    opacity: 1; }

  50% {
    left: 0;
    color: #4aad0d;
    opacity: 1; }

  55% {
    left: 0;
    color: #4aad0d;
    opacity: 0; }

  100% {
    left: -200%;
    color: #4aad0d;
    opacity: 0; } }

@-moz-keyframes slideGoodChecksumAcross {
  42% {
    left: 0;
    color: #737373;
    opacity: 1; }

  50% {
    left: 0;
    color: #4aad0d;
    opacity: 1; }

  55% {
    left: 0;
    color: #4aad0d;
    opacity: 0; }

  100% {
    left: -200%;
    color: #4aad0d;
    opacity: 0; } }

@keyframes slideGoodChecksumAcross {
  42% {
    left: 0;
    color: #737373;
    opacity: 1; }

  50% {
    left: 0;
    color: #4aad0d;
    opacity: 1; }

  55% {
    left: 0;
    color: #4aad0d;
    opacity: 0; }

  100% {
    left: -200%;
    color: #4aad0d;
    opacity: 0; } }

@-webkit-keyframes slideBadChecksumAcross {
  50% {
    left: -200%;
    color: #737373;
    opacity: 1; }

  92% {
    left: 0;
    color: #737373;
    opacity: 1; }

  95% {
    left: 0;
    color: #ae3b22;
    opacity: 1; }

  99% {
    left: 0;
    color: #ae3b22;
    opacity: 0; }

  100% {
    left: -200%;
    color: #ae3b22;
    opacity: 0; } }

@-moz-keyframes slideBadChecksumAcross {
  50% {
    left: -200%;
    color: #737373;
    opacity: 1; }

  92% {
    left: 0;
    color: #737373;
    opacity: 1; }

  95% {
    left: 0;
    color: #ae3b22;
    opacity: 1; }

  99% {
    left: 0;
    color: #ae3b22;
    opacity: 0; }

  100% {
    left: -200%;
    color: #ae3b22;
    opacity: 0; } }

@keyframes slideBadChecksumAcross {
  50% {
    left: -200%;
    color: #737373;
    opacity: 1; }

  92% {
    left: 0;
    color: #737373;
    opacity: 1; }

  95% {
    left: 0;
    color: #ae3b22;
    opacity: 1; }

  99% {
    left: 0;
    color: #ae3b22;
    opacity: 0; }

  100% {
    left: -200%;
    color: #ae3b22;
    opacity: 0; } }

@-webkit-keyframes slideFileAcross {
  10% {
    opacity: 1; }

  100% {
    left: 210%;
    opacity: 1; } }

@-moz-keyframes slideFileAcross {
  10% {
    opacity: 1; }

  100% {
    left: 210%;
    opacity: 1; } }

@keyframes slideFileAcross {
  10% {
    opacity: 1; }

  100% {
    left: 210%;
    opacity: 1; } }
